header {
    background-color: #b9abab;
    padding: 10px;
    text-align: left;
    width: 100%;
}
.menu-icon {
    font-size: 30px;
    color: white;
    cursor: pointer;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none; /* Hide menu initially */
    background-color: #333;
}
nav ul li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #444;
}
nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
}
nav ul li a:hover {
    background-color: #555;
}
nav ul li {
    border: none;
    padding: 15px 20px;
}
.menu-icon {
    display: none; /* Hide hamburger icon on larger screens */
}
.content-section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
}

img {
    transition: transform 0.3s ease; /* Smooth hover effect */
}
img:hover {
    transform: scale(1.2);
    cursor: pointer;

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
}

h1, h2 {
    text-align: center;
    color: #302f2f;
}


section, aside {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #444;
    color: white;
    width: 100%;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0,0,0,0.1);
}



